.mid {
    width: 100%;
    height: 62vh;
    background-image: url(../img/main-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    font-size: 40px;
}

.error {
    color: #FFAB00;
}

@media (max-width: 768px) {
    .mid {
        font-size: 30px;
    }
}

@media (max-width: 425px) {
    .mid {
        font-size: 20px;
    }
}